@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: black;
    transition: 0.3s all;
    color: white;
    font-family: 'Lato', sans-serif;
}

.console {
    color: #42dff4 !important;
}

.log {
    color: #f44271;
}

.parenthesis {
    color: #fcfa85;
}

.quotes {
    color: white;
}

.hello-world {

}

h1 {
    font-size: 10vh;
    text-align: center;
    margin: 0px;
    align-self: center;
}

header {
    margin: 0px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.arrow-down {
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fa-angle-down {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    line-height: 30px;
}

p a:hover, li a:hover {
   color: white;
}

p a:before, li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  lef
  t: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

p a:hover:before, li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*down arrow animation*/
.fa-angle-down {
    margin-right: 5px;
    color: #999999;
    /* transition animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.fa-angle-down:hover {
    color: white;
}

section {
    padding-left: 7vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    padding-top: 3vw;
}

footer {
    text-align: center;
}

footer i {
    color: white;
    border-radius: 50%;
    /* transition animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

footer i:hover {
    color: black;
    background-color: white;
}

footer i {
    padding: 10px;
    padding-bot: 20px;
}

img {
    display: float;
    float: right;
    width: 30vw;
    margin: 20pt;
}

.dog {
    width: 20vw;
    border-radius: 50%;
}

.construction {
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
    border-radius: 50%;
}

.warning {
    border: dotted 1px white;
    padding: 10px;
    border-radius: 25px;
}